In [3]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import DBSCAN
import pandas as pd

# Load your data
df = pd.read_csv("export/car-price-feature.csv")  # Replace with actual file
df.head()

,Unnamed: 0,Selling_Price(lacs),Present_Price(lacs),Kms_Driven,Past_Owners,Age,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,0,3.35,5.59,27000,0,11,False,True,False,True
1,1,4.75,9.54,43000,0,12,True,False,False,True
2,2,7.25,9.85,6900,0,8,False,True,False,True
3,3,2.85,4.15,5200,0,14,False,True,False,True
4,4,4.60,6.87,42450,0,11,True,False,False,True

In [ ]:

X = df[['Selling_Price', 'Present_Price', 'Kms_Driven']]

# Standardize
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Run DBSCAN
db = DBSCAN(eps=0.5, min_samples=2)
clusters = db.fit_predict(X_scaled)

# Add cluster labels back to the DataFrame
df['Cluster'] = clusters

# View clusters
print(df[['Car_Name', 'Cluster']])